---
slug: admin/model/fields
layout_name:
format: json
---
{% include 'admin/models/all_fields' -%}
{%- if fields -%}
[{%- for field in fields -%}{ "label": {{field.name | json}},"name": {{field.name | json}} }{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}]
{%- else -%}
{"error": "No model with that name was found."}
{%- endif -%}
