---
slug: admin/model/form
layout_name:
format: json
---
{% include 'admin/models/form' -%}
{%- if thisConfig -%}
{{thisConfig}}
{%- else -%}
{"error": "No model with that name was found."}
{%- endif -%}
