---
slug: admin/crm
layout_name: admin/panel
---
{% include 'admin/layout/constants' -%}
{% include 'admin/crm/records' -%}
{% include 'admin/crm/fields' -%}
{%- if context.location.search.name -%}
	user detail
{%- else -%}
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-12 col-md-6"><h4 class="card-title">Records</h4></div>
				<div class="col-sm-12 col-md-6"><div class="toolbar text-right"></div></div>
			</div>
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered" cellspacing="0" width="100%" data-posdk-admintables="resource:user; parent:{{context.location.search.name}}; fields:/admin/crm/fields.json; records:/admin/crm/records.json; form:/admin/crm/form.json?name=user; container:.card; buttonContainer:.toolbar;"">
				<thead></thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
{%- endif -%}
