---
slug: admin/models
layout_name: admin/panel
---
{% include 'admin/layout/constants' -%}
{%- if context.location.search.name -%}
	{% include 'admin/models/all_fields' -%}
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-12 col-md-6"><h4 class="card-title">Records</h4></div>
				<div class="col-sm-12 col-md-6"><div class="toolbar text-right"></div></div>
			</div>
		</div>
		<div class="card-body">
			<table class="table table-striped table-bordered" cellspacing="0" width="100%" data-posdk-admintables="resource:model; parent:{{context.location.search.name}}; fields:/admin/model/fields.json?name={{context.location.search.name}}; records:/admin/model/records.json?name={{context.location.search.name}}; form:/admin/model/form.json?name={{context.location.search.name}}; container:.card; buttonContainer:.toolbar;">
				<thead></thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
{%- else -%}
	<div class="card">
		<div class="card-header">
			<h4 class="card-title">Models</h4>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>Name</th>
						<th class="text-right">Actions</th>
					</thead>
					<tbody>
						{% for model in thisPage.nested.items -%}
							<tr>
								<td>{{model.name}}</td>
								<td class="text-right">
									<a href="{{model.slug}}" class="btn btn-warning btn-link btn-icon btn-md edit"><i class="fas fa-edit"></i></a>
								</td>
							</tr>
						{% endfor -%}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{%- endif -%}
