{%- query_graph 'fields', type: 'CustomModelType', result_name: g -%}
{%- for item in g.cms_items.results -%}
	{%- if item.data.name == context.location.search.name -%}
		{%- assign fields = item.data.custom_attributes -%}
		{%- break -%}
	{%- endif -%}
{%- endfor -%}
