table.dataTable th,td {white-space: nowrap;}
table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {background-color: #66615b;}
table.dataTable tbody>tr>td.select-box:before {font-family: "Font Awesome 5 Pro"; font-weight: 100; content: "\f0c8";}
table.dataTable tbody>tr.selected>td.select-box:before {font-weight: 900; content: "\f14a";}
.DTE_Header .close {
  position: absolute;
  top: 0;
  right:0;
  margin: 0;
}
.modal-footer {
  padding: 0 10px;
}
table.dataTable thead .sorting:after {
  position: absolute;
  top: 13px;
  right: 15px;
}
