{% query_graph current_user, result_name: g %}
{% assign user = g.current_user -%}
{% capture admin -%}{% include '/admin/json/admin' -%}{% endcapture -%}
{% assign admin = admin | to_hash -%}
{% assign thisPageIndex = admin.nav.indexBy.slug[context.location.pathname] -%}
{% if thisPageIndex != nil -%}
	{% assign thisPage = admin.nav.items[thisPageIndex] -%}
	{% if context.location.pathname != context.location.href -%}
		{% assign thisPageIndex = thisPage.nested.indexBy.slug[context.location.href] -%}
		{% assign thisPage = thisPage.nested.items[thisPageIndex] -%}
	{% endif -%}
{% endif -%}
