<meta charset="utf-8" />
<link rel=apple-touch-icon sizes=76x76 href="{{'admin/images/apple-icon.png' | asset_url}}">
<link rel=icon type=image/png href="{{'admin/images/favicon.png' | asset_url}}">
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
<meta content="{{ form_authenticity_token }}" name="csrf-token">
<meta content="authenticity_token" name="csrf-param">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous">
<link href="{{'admin/styles/bootstrap.min.css' | asset_url}}" rel="stylesheet" />
<link href="{{'admin/styles/datatables.min.css' | asset_url}}" rel="stylesheet" />
<link href="{{'admin/styles/paper-dashboard.css' | asset_url}}" rel="stylesheet" />
<link href="{{'admin/styles/app.css' | asset_url}}" rel="stylesheet" />
<title>{{pagetitle | default: 'Site Admin'}}</title>
